header{
	background:#f1f38b;
}
h1{
	color:#f71616;
	text-align:center;	
}
h2{
	color:#f1096a;
}
section{
	background:"#c0f3ee;"
}
nav{
	background:#adf3c2;
}
a{
	color:#004a17;
}
img{
	visibility:hidden;
}